ul,li{ list-style: none; padding: 0; margin: 0;}
.mui-bar{ background: #58bf92;}
.mui-content{ background: #fff;}
.map-area{ margin-bottom: 0.3rem; height: 4.2rem;}
.map-area img{ width: 100%;}
.map-area iframe{ width: 100%; height: 100%;}
.conference-info{ padding-bottom: 50px;}
.conference-name{ text-align: center; font-size: 0.24rem; line-height: 0.4rem; text-transform: uppercase; color: #58bf92; margin: 0; padding: 0 0.15rem 0.15rem;position: relative;}
.conference-name:after{ content: ""; display: block; height: 1px; background: #f3f5f8; position: absolute; width: 80%; left: 10%; right: 10%; bottom: 0;}
.infor-box{ width: 80%; margin: 0.3rem auto 0;}
.infor-item{ overflow: hidden; padding: 0.1rem 0;}
.infor-box .tit{ float: left; font-size: 0.3rem; color: #58BF92; width: 25%;text-align: right;}
.infor-box .txt{ float: left; font-size: 0.24rem; color: #3f3f50; width: 75%;text-align: justify;line-height: 1; text-indent: 0.1rem;}
.iconfont{ margin-right: 5px; font-size: 0.36rem;}
.jump-btn{ display: block; margin: 0.6rem auto 0; width: 60%; color: #ffffff; background: #58bf92; border: none;}














































